@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root {
  --primary-color: #FFFFFF;
  --dark-color: #061125;
  --light-color: #72B63B;
  --danger-color: #dc3545;
  --border-color: #D8D8D8;
  --disabled-color: rgba(0, 0, 0, 0.3);
  --background-color: #AFAFAF;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

.main {
  width: 665px;
  height: 1028px;
  left: 225px;
  top: 87px;
  background: var(--primary-color);
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 152px;
  height: 1028px;
  left: 225px;
  top: 87px;
  background: var(--dark-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1rem;
}

.list {
  margin: 0 1rem 0 1rem;
  width: 515px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 420px;
  height: 73px;
  background: var(--dark-color);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin: 0.3rem 0;
}

.card-wrap {
  display: flex;
  justify-content:  flex-start;
 }

.card-title {
  display: flex;
  color: var(--light-color);
  flex-direction: column;
  justify-content: space-around;
  margin: 0.5rem;
 }

.card-content {
  display: flex;
  color:  var(--primary-color);
  flex-direction: column;
  margin: 0.5rem 0 0.5rem 3rem;
  justify-content: space-around;
}

.card-action {
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: var(--light-color);
  display: flex;
  flex-direction: column-reverse;
  margin: 0 1rem 0.5rem 0;
}

.card-inner {
  height: 13px;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
}

.title {
  width: 79px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--light-color);
  margin: 1rem 0;
  &.sort {
    width: 105.73px;
    height: 14.07px;
    font-weight: 400;
    font-size: 12px;
    color: var(--primary-color);
    margin: 0 0 0.5rem;
    align-self: center;
  }
  &.title-list {
    width: 420px;
  }
}

a {
  color: var(--light-color);
  cursor: pointer;
  text-decoration: none;
}

.btn {
  width: 105.73px;
  height: 24.12px;
  background: var(--light-color);
  border-radius: 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  margin: 0.3rem 0;
  align-self: center;
  color: var(--primary-color);
  border: none;
  cursor: pointer;
  &.btn-edit {
    width: 116.67px;
    height: 27.12px;
  }
  &.submit {
    width: 85px;
  }
  &.submit:disabled {
    background: var(--background-color);
  }
}

.profile-header {
  display: flex;
  justify-content: space-between;
  width: 438px;
}

.profile-form {
  width: 438px;
  height: 463px;
}

.profile-content {
  border: 1px solid var(--background-color);
  border-radius: 8px;
  padding: 0.7rem;
}

.profile-action {
  display: flex;
  justify-content: flex-end;
}

.form-control {
  display: block;
  margin-top: 0.3rem;
  margin-bottom: .5rem;

  label {
    width: 22px;
    height: 9px;
    font-weight: 700;
    font-size: 8px;
    line-height: 9px;
    display: block;
  }

  input[type="text"] {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    &:disabled {
      color: var(--disabled-color)
    }
  }

  input {
    box-sizing: border-box;
    width: 211px;
    height: 22px;
    background: var(--primary-color);
    border-radius: 5px;
    border: 1px solid var(--border-color);
    &.ng-invalid {
      border: solid 1px var(--danger-color);
    }
  }
  #comment {
    width: 420px;
    height: 55px;
  }
}

.wrap-loader {
  display: flex;
  justify-content: flex-start;
}
.loader {
  font-size: xx-large;
  margin: 3rem 0.5rem 3rem 3rem;
}
.container {
  margin-top: 2.5rem;
}
.block {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 10px 10px 0;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: var(--dark-color);
}

.block:nth-child(4n+1) { animation: wave 2s ease .0s infinite; }
.block:nth-child(4n+2) { animation: wave 2s ease .2s infinite; }
.block:nth-child(4n+3) { animation: wave 2s ease .4s infinite; }
.block:nth-child(4n+4) { animation: wave 2s ease .6s infinite; margin-right: 0; }

@keyframes wave {
  0%   { top: 0;     opacity: 1; }
  50%  { top: 30px;  opacity: .2; }
  100% { top: 0;     opacity: 1; }
}
